// -----------------------------------------------------------------------------
// Contact and form styles & layout
// -----------------------------------------------------------------------------

.contact {
  padding-top: 2rem;
  padding-bottom: 4.2rem;
}

.contact__subtitle {
  margin-bottom: 2.5rem;
}

.form__input,
.form__message {
  width: 100%;
  padding-left: 1rem;
  color: $grey;
  font-size: 16px;
  border: none;
  background: $blue-light;
  max-width: 570px;
  margin: 0 auto;
}

.form__input {
  display: block;
  height: 60px;
}

.form__message {
  height: 120px;
  padding: 1rem;
  margin: 0 auto;
}

.form__error {
  color: $red;
  font-size: 14px;
  position: absolute;
  left: 1rem;
  bottom: -1.15rem;
}

.form__group {
  position: relative;
  margin-bottom: 2.25rem;
}

.form__group--message {
  margin-bottom: 4rem;
}

::placeholder {
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  color: $blue-dark;
}

.form__links {
  max-width: 330px;
  margin: 0 auto;
}

.form__btn:first-child {
  margin-bottom: 1.5rem;
}

//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {
  .form__input,
  .form__message,
  ::placeholder {
    font-size: 18px;
  }

  .form__links {
    max-width: none;
  }

  .form__btn:first-child {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

//
// Large screens
// ==========================================================================

@media (min-width: $bp-large) {
  .contact {
    text-align: left;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .form__group--message,
  .form__links {
    grid-column: 1 / -1;
  }

  .form__message {
    max-width: none;
  }

  .form__links {
    justify-self: center;
  }
}
