// -----------------------------------------------------------------------------
// Footer styles & layout
// -----------------------------------------------------------------------------

.footer {
  background: $blue-dark;
  padding-top: 4.1875rem;
  padding-bottom: 2.25rem;
}

.footer__title {
  color: $white;
  margin-bottom: 0.5rem;
}

.footer__subtitle {
  color: $red;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @media (min-width: $bp-medium) {
    font-size: 41px;
  }
}

.footer__menu {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 3rem;

  .menu__link {
    color: $white;

    &:hover {
      color: $red;
      transition: $transition;
    }
  }
}

.footer__copyright {
  color: $white;
}

.footer__socials {
  @include flex;
  max-width: 255px;

  margin: 3rem auto 0;

  svg {
    width: 37px;

    &:hover path {
      fill: $red;
      transition: $transition;
    }
  }
}
