// -----------------------------------------------------------------------------
// Services styles & layout
// -----------------------------------------------------------------------------

.services {
  position: relative;
  padding-bottom: 5rem;
}

.services__title {
  font-size: 38px;
  max-width: 330px;
  margin: 0 auto 2.5rem;
}

.services__btn {
  margin-bottom: 2.5rem;
}

.services__card {
  max-width: 320px;
}

// Background pattern
.services::after {
  content: url('../../images/bg-shape-2.png');
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}

//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {
  .services {
    padding-bottom: 10.5rem;
  }

  .services .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .services__textbox {
    grid-column: 1 / -1;
  }

  .services__title {
    font-size: 45px;
    max-width: 360px;
  }

  .services__card {
    justify-self: end;
    margin: 0;
  }

  .services__card:last-child {
    justify-self: start;
  }
}

//
// X-Large screens
// ==========================================================================

@media (min-width: $bp-xlarge) {
  .services {
    text-align: left;
    padding-bottom: 14.625rem;
  }

  .services .container {
    @include flex;
  }

  .services__title {
    margin-left: 0;
    margin-right: 0;
  }
}
