// -----------------------------------------------------------------------------
// Blog styles & layout
// -----------------------------------------------------------------------------

.blog {
  padding-bottom: 10rem;
}

.blog__subtitle {
  margin-bottom: 5rem;
}

.blog__card {
  max-width: 370px;
}

//
// Large screens
// ==========================================================================
@media (min-width: $bp-large) {
  .blog {
    text-align: left;
  }
}
