// -----------------------------------------------------------------------------
// Blog styles & layout
// -----------------------------------------------------------------------------

.blog {
  position: relative;
  padding-bottom: 10rem;
}

.blog__subtitle {
  margin-bottom: 5rem;
}

.blog__card {
  box-sizing: border-box;
  width: 370px;
  max-width: 370px;
  flex-grow: 0;
}

// Background pattern
.blog::after {
  content: url('../images/bg-shape-5.png');
  position: absolute;
  top: 140px;
  right: 0;
  z-index: -1;
}

// Swiper next/prev buttons
// ==========================================================================

.swiper-button-next--blog,
.swiper-button-prev--blog {
  top: 66px;
}
