// -----------------------------------------------------------------------------
// Gallery layout
// -----------------------------------------------------------------------------

.gallery {
  position: relative;
  padding-bottom: 9rem;
}

.gallery__title {
  max-width: 330px;
  margin: 0 auto 3rem;
}

// Background pattern
.gallery::after {
  content: url('../images/bg-shape-4.png');
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}

.gallery__link {
  color: $red;
}

//
// Carousel styles
// ==========================================================================

.gallery__image {
  cursor: pointer;
  width: 369px;
  background: $grey;
}

.swiper-container {
  margin-bottom: 3.5rem;
}

//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {
  .gallery__title {
    max-width: 400px;
  }

  .gallery__carousel .swiper-slide {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(auto, 369px));
  }
}

//
// Large screens
// ==========================================================================
@media (min-width: $bp-large) {
  .gallery__title {
    text-align: left;
    margin-left: 0;
  }

  .gallery__carousel .swiper-slide {
    grid-template-columns: repeat(3, minmax(auto, 369px));
  }
}

// Swiper next/prev buttons
// ==========================================================================

//Buttons positioned relative to this
.gallery .container {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  top: 90px;
}

.swiper-button-next {
  right: 32px;
}

.swiper-button-prev {
  left: auto;
  right: 82px;
}

.swiper-button-next::after {
  content: url('../images/arrow-r.svg');
}

.swiper-button-prev::after {
  content: url('../images/arrow-l.svg');
}
