// -----------------------------------------------------------------------------
// Gallery layout
// -----------------------------------------------------------------------------

.gallery {
  position: relative;
  padding-bottom: 9rem;
}

.gallery__title {
  max-width: 330px;
  margin: 0 auto 3rem;
}

.gallery__image {
  cursor: pointer;
  width: 369px;
  background: $grey;
}

.gallery__carousel {
  display: grid;
  gap: 30px;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.gallery__link {
  color: $red;
}

// Background pattern
.gallery::after {
  content: url('../images/bg-shape-4.png');
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}

//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {
  .gallery__title {
    max-width: 400px;
  }

  .gallery__carousel {
    grid-template-columns: 1fr 1fr;
  }
}

//
// Large screens
// ==========================================================================

@media (min-width: $bp-large) {
  .gallery__title {
    text-align: left;
    margin-left: 0;
  }

  .gallery__carousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
