// -----------------------------------------------------------------------------
// Button component
// -----------------------------------------------------------------------------

// Read about this:
// @link https://moderncss.dev/css-button-styling-guide/

.btn {
  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start; // Optional - see "Gotchas"

  // Visual
  background-color: $red;
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: $box-shadow;

  // Size
  padding: 1rem 2.2rem;
  min-width: 10ch;
  min-height: 44px;

  // Text
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;

  transition: $transition;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: scale-color($red, $lightness: -20%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px scale-color($red, $lightness: -40%);
  }
}

// Button class modifiers
.btn--small {
  font-size: 14px;
  line-height: 1;
}

.btn--secondary {
  background: $white;
  box-shadow: none;
  color: $blue-dark;

  border: 2px solid transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    border-color: $blue-dark;
    box-shadow: $box-shadow;
  }
}

.btn--contact {
  background: $white;
  border-radius: 3px;
  color: $red;

  border: 2px solid transparent;
  padding: 1.1rem 2rem;

  svg {
    margin-left: 12px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    border-color: $red;
  }
}
