// -----------------------------------------------------------------------------
// Card component
// -----------------------------------------------------------------------------

//
// Basic card styles
// ==========================================================================

.card {
  background: $white;
  box-shadow: $box-shadow;
  text-align: left;
  padding: 2.625rem;
  margin: 0 auto 2.5rem;
}

.card__image {
  margin-bottom: 3.3125rem;
}

.card__title {
  margin-bottom: 2rem;
}

.card__title--small {
  margin-bottom: 0.5rem;
}

.card__date {
  color: $grey;
  font-size: 14px;
  margin-bottom: 1.6875rem;
}

.card__copy {
  font-size: 14px;
  line-height: 23.5px;
}

//
// For Blog 'link' cards
// ==========================================================================

.card--link__copy {
  font-size: 18px;
  margin-bottom: 2.125rem;
}

.card__arrow {
  float: right;
}

.card--link {
  padding-top: 3rem;

  // transition: 1s background-color ease;
}

.card--link:hover {
  cursor: pointer;
  background: $red;
  color: $white;
  transition: 220ms background-color ease-in-out;

  & .card__title--small,
  & .card__date,
  & .card__arrow path {
    color: white;
    fill: $white;
  }
}

//
// For Messages cards
// ==========================================================================

.card__title--email {
  color: $grey;
  font-weight: 400;
}
