// -----------------------------------------------------------------------------
// Menu component
// -----------------------------------------------------------------------------

.menu__item {
  margin-bottom: 1rem;
}

@media (min-width: $bp-large) {
  .menu {
    @include flex;
    width: 550px;
  }

  .menu__item {
    margin: 0;
  }
}
