// -----------------------------------------------------------------------------
// Basic styles
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 * Make scrollong smooth
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Reset default padding and margin on block elements
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

// 1. Prevent horizontal side scrolling on page
body {
  overflow-x: hidden; // 1. //
  text-align: center;
}

/**
 * Make images responsive
 * 1. Image will never scale up larger than its original size
 */
img {
  max-width: 100%; /* 1 */
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

//
// Animated links - red underline
// ==========================================================================

.link--animated {
  position: relative;
}

// Pseudo element is red line below link
.link--animated::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -9px;
  background: $red;
  width: 0;
  height: 6px;
  transition: width 180ms ease-in-out, left 180ms 180ms ease-in-out;
  transform: translateX(-50%);
}

.link--animated:hover::after {
  width: 30px;
  left: 50%;
  transition: $transition;
}
